<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Website</title>
    {{> links}}

</head>
<body>
   {{> navbar}}
    
    {{!-- Hero section start --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>WE WILL HELP YOU TO</h1>
                        <h1>GROW YOUR BUSINESS</h1>
                        <P>We Are The Team Of <span class="bold-style">Professional Developers ✌️</span></P>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="images/growth.svg" alt="heroSectionImage">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Hero section ends --}}



    {{!-- About us start --}}
    {{> about}}
    {{!-- About us ends --}}

    {{!-- our service start --}}
    {{> service}}
    {{!-- our service ends --}}

    {{!-- maps start --}}
    {{> maps}}
    {{!-- maps ends --}}

    {{!-- maps start --}}
    {{> contact}}
    {{!-- maps ends --}}

      
</body>
</html>