<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About us</h1>
                <p class="text-center sub-heading">grow your Business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/about.svg" alt="heroSectionImage">
                        </figure>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                        <h1>WE ARE THE PROFESSIONAL DEVELOPERS ✌️</h1>
                        <P>Welcome to<span class="bold-style"> CodeRanger . </span>I am Nishant sisodiya (Fullstack Developer). We are Dedicated to Provide you the best work , With focus on 3 Characteristics Ie. [Dependability , Costumer service & Uniqueness].</P>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>